<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Your Favorites</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

</head>
<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>All About You</h1>
    </div>
  </div>

  {% if g.color %}
  <div class="row">
    <div class="col-xs-4">
    Favorite color: {{ g.color }}
    </div>
  </div>
  {% endif %}

  {% if g.fruit %}
  <div class="row">
    <div class="col-xs-4">
    Favorite fruit: {{ g.fruit }}
    </div>
  </div>
  {% endif %}

  {% if g.number %}
  <div class="row">
    <div class="col-xs-4">
    Favorite number: {{ g.number }}
    </div>
  </div>
  {% endif %}

  <!-- Visible fields in the form, for new entries -->

  <form action="_step" method="POST">
  <div class="row">
    <div class="col-sm-8">
    <label for="color">Favorite color:</label>
      <select id="color" name="color">
	<option value="green">Green</option>
	<option value="blue">Blue</option>
	<option value="purple">Can't choose</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
    <label for="number">Favorite number:</label>
    <input id="number" name="number" type="text" width="15">
    </div>
  </div>


  <!-- Hidden fields in the form -->
  <!-- Internal hidden field to advance to next form -->
  <input type="hidden" name="next_form" value="step2.html"></input>


  <!-- Submitting the form invokes the form action URL -->
  <div class="row">
    <div class="col-sm-8">
    <input type="submit" name="Admit it">
    </div>
  </div>
  



</form>

 </div> <!-- container -->
</body> </html>
